<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.github.com/erikzielke/model_generator/master/src/main/java/com/github/erikzielke/model_generator/configuration/config.xsd">
    <generation>
        <destinationDir>src/main/java</destinationDir>
        <destinationPackage>com.example.model.generated</destinationPackage>
    </generation>
    <jdbc>
        <password>Zwq93hhU</password>
        <url>jdbc:mysql://localhost/world</url>
        <username>root</username>
    </jdbc>
    <naming>
        <tablePrefix>myprefix_</tablePrefix>
        <jndi>myprefix_</jndi>
    </naming>
    <beanInterface>java.io.Serializable</beanInterface>
    <!-- Exclude patterns are java regexps.-->
    <excludeTable>qrtz.*</excludeTable>
</configuration>